[user]
    name = Lance Goodridge
    email = ldgoodridge95@gmail.com
[push]
    default = simple
[core]
    editor = vim
[github]
    user = lgoodridge
[alias]
    unstage = reset --
    ctags = !.git/hooks/ctags
[init]
    templatedir = ~/.git_template
[diff "sopsdiffer"]
    textconv = sops -d
[pull]
    ff = only
